<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List City</title>

</head>
<body>
<div id="container">
    <h1>All City</h1>
    <a th:href="@{/city/create}">Create</a>
    <div>
        <p>Here you can see a list of City:</p>
        <div id="sBlogFromResponse"></div>
    </div>
    <table border="1px" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="city:${cityList}">
            <tr>
                <td >
                    <a th:href="@{/city/views/__${city.id}__}" th:text="${city.name}"></a>
                </td>
                <td th:text="${city.country.name}"></td>
                <td>
                    <a th:href="@{/city/edit/__${city.id}__}">Edit</a><br/>

                </td>
                <td>
                    <a th:href="@{/city/delete/__${city.id}__}">Delete</a><br/>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a th:href="@{/blog}">Home page</a>
</div>
</body>
</html>