<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity4">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var deleteLink = $("a:contains('delete')");
            $(deleteLink).click(function (event) {
                $.ajax({
                    url: $(event.target).attr("href"),
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");

                    },
                    success: function (book) {
                        var respContent = "";
                        var rowToDelete = $(event.target).closest("tr");
                        rowToDelete.remove();
                        respContent += "<span class='success'>Loai sach was deleted: [";
                        respContent += book.name + " ]</span>";
                        $("#sBlogFromResponse").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<div>
    <a class="btn-link" th:href="@{/admin/addnewbook}">Add Book</a>||
    <a class="btn-link" th:href="@{/admin/addkindofbook}">Add Loai Sach</a>||
    <a class="btn-link" th:href="@{/admin/kinofbooklist}">List Loai Sach</a>
    <div>
        <div>
            <p>Here you can see a list of Book:</p>
            <div id="sBlogFromResponse"></div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Anh</th>
            <th>Name</th>
            <th>Tac Gia</th>
            <th>Tinh trang</th>
            <th>So luong</th>
            <th>Luot muon</th>
            <th>Trang Thai</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${bookslist}" >
            <td th:hidden="${book.id}"></td>
            <td ><img width="50px" height="50px" th:src="@{'/i/' + ${book.img}}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.tacgia}"></td>
            <td th:text="${book.tinhtrang}"></td>
            <td th:text="${book.soluong}"></td>
            <td th:text="${book.luotmuon}"></td>
            <td th:text="${book.trangthai}"></td>
            <td><a th:href="@{/admin/book/edit/__${book.id}__}">edit</a></td>
            <td><a th:href="@{/admin/book/delete/__${book.id}__}">delete</a></td>
        </tr>
        </tbody>
    </table>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group" th:each="trang:${soTrang}">
            <form th:action="@{'/admin/'+${trang}}">
            <button type="submit" class="btn btn-secondary" th:text="${trang}"></button>
            </form>
        </div>
    </div>

</div>
</body>
</html>