<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Blog</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#newblogForm').submit(function (event) {
                var name = $('#name').val();
                var json = {"name": name};
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify(json),
                    url: "/admin/book/edit/",
                    success: function (kindofbook) {
                        var respContent = "";
                        respContent += "<span class='success'>kindofbook was created: [";
                        respContent += kindofbook.name + " ]</span>";
                        $("#blogFromResponse").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<div class="container">
    <h1>Edit</h1>
    <div>
        <p>Here you can edit new :</p>
        <div id="blogFromResponse" th:text="${message}"></div>
    </div>

    <form id="newblogFrom" th:action="@{/admin/book/edit/}" th:object="${bookFromedit}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" class="form-control" id="id" name="name" th:field="*{id}">
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
        </div>

        <div class="form-group">
            <label for="tacgia">Tác Giả:</label>
            <input type="text" class="form-control" id="tacgia" name="tacgia" th:field="*{tacgia}">
        </div>

        <div class="form-group">
            <label for="loaisach">Loại Sách:</label>
            <select th:field="*{kindofbook}">
                <option type="text" class="form-control" id="loaisach" name="loaisach" th:each="kind:${kindofbookselect}" th:value="${kind.id}" th:text="${kind.name}">
            </select>
        </div>

        <div class="form-group">
            <label for="motangan">Mô tả:</label>
            <input type="text" class="form-control" id="motangan" name="motangan" th:field="*{motangan}">
        </div>

        <div class="form-group">
            <label for="tinhtrang">Tình Trang( Mới , Cũ) :</label>
            <input type="text" class="form-control" id="tinhtrang" name="tinhtrang" th:field="*{tinhtrang}">
        </div>

        <div class="form-group">
            <label for="soluong">Số Lượng:</label>
            <input type="text" class="form-control" id="soluong" name="soluong" th:field="*{soluong}">
        </div>

        <div class="form-group">
            <label for="chitiet">Chi Tiết:</label>
            <textarea type="text" class="form-control" id="chitiet" name="soluong" th:field="*{motachitiet}"></textarea>
        </div>

        <div class="form-group">
            <input type="file" class="form-control" id="img" th:field="*{img}">
            <label  for="img" ></label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a th:href="@{/admin/addbook/1}">List Book</a>||
    <a th:href="@{/admin/kinofbooklist}">List Loai Sach</a>||
    <a th:href="@{/admin/1}">Home</a>

</div>



</body>
</html>