<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>binh luan</title>
</head>
<body>
<img id="img-of-the-day">
<div>
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
    <form action="/home/save" method="post" th:object="${customer}">
        <fieldset>
            <legend>Gui BL.</legend>
            <p>Tên Bạn :</p>
            <input type="text" placeholder="Tên bạn." th:field="*{name}">
            <p>Phản Hồi:</p>
            <textarea placeholder="nội dung." th:field="*{comment}"></textarea>
            <button type="submit">comment</button>
        </fieldset>
    </form>

    <div>
        <fieldset>
            <legend>Bình Luận trong Ngày.</legend>
        </fieldset>
    </div>
    <div th:each=" c: ${customers}">
        <form action="/home/like" method="post">
        <fieldset>
            <legend th:text="${c.name}"></legend>
            <input type="hidden" th:text="${c.id}">
            <p th:text="${c.comment}"></p>
            <p th:text="${c.like}">like
                <button>Like</button>
            </p>
            <p th:text="${c.evaluete}"></p>
            <p th:text="${c.localTime}"></p>
        </fieldset>
        </form>
    </div>
</div>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=b8neweyYiDiFZ48Twzhe3i43bB360Fl3bxcaJjAq';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
</html>