<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/home">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-blog}" th:object="${blogUser}" method="post">
    <label>
        <input th:type="hidden" name="id" th:field="*{id}">
    </label>
    <table>
        <tr>
            <td> name:</td>
            <td><label>
                <input  name="name" type="text" th:field="*{name}"/>
            </label></td>
        </tr>
        <tr>
            <td>Noi dung:</td>
            <td><label>
                <input name="noidung" type="text" th:field="*{noidung}"/>
            </label></td>
        </tr>
        <tr>
            <td>time:</td>
            <td><label>
                <input name="time" type="text" th:field="*{time}"/>
            </label></td>
        </tr>
        <tr>
            <td>title:</td>
            <td><label >
                <input name="title" type="text" th:field="*{title}"/>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update BlogUser"></td>
        </tr>
    </table>
</form>
</body>
</html>