<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list blog</title>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Cac Bai Blog:</h1>
<table border="1">
    <tr>
        <th>Nguoi Viet</th>
        <th>Tieu De</th>
        <th>Thoi Gian</th>
        <th>view</th>
        <th>edit</th>
        <th>Delete</th>
    </tr>
    <th:block >
        <tr th:each="blog : ${blog}">
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.time}"></td>
            <td><a th:href="@{/view-blog/__${blog.id}__}">View</a></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>