<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Shop online</title>
</head>
<body>
<div class="topbar-v3" th:fragment="topbar">
	<div class="search-open">
		<div class="container">
			<input type="text" class="form-control" placeholder="Search">
			<div class="search-close">
				<i class="icon-close"></i>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<!-- Topbar Navigation -->
				<ul class="left-topbar">
					<li><a>Currency (USD)</a>
						<ul class="currency">
							<li class="active"><a href="#">USD <i
									class="fa fa-check"></i></a></li>
							<li><a href="#">Euro</a></li>
							<li><a href="#">Pound</a></li>
						</ul></li>
					<li><a>Language (EN)</a>
						<ul class="language">
							<li class="active"><a href="#">English (EN)<i
									class="fa fa-check"></i></a></li>
							<li><a href="#">Spanish (SPN)</a></li>
							<li><a href="#">Russian (RUS)</a></li>
							<li><a href="#">German (GRM)</a></li>
						</ul></li>
				</ul>
				<!--/end left-topbar-->
			</div>
			<div>
				<th:block th:if="${sessionScope.account == null}">
					<div class="col-sm-6">
						<ul class="list-inline right-topbar pull-right">
							<li><a href="/login">Login</a>
								| <a href="/register">Register</a></li>
							<li><i class="search fa fa-search search-button"></i></li>
						</ul>
					</div>
				</th:block>
				<th:block th:unless="${sessionScope.account == null}">
					<div class="col-sm-6">
						<ul class="list-inline right-topbar pull-right">
							<li><a href="/member/myaccount">My Account</a> | <a
								href="/logout">Logout</a></li>
							<li><i class="search fa fa-search search-button"></i></li>
						</ul>
					</div>
				</th:block>
			</div>



		</div>
	</div>
	<!--/container-->
</div>
</body>
</html>